.fe-brass {
	color: $fe-brass-color;
}

.fe-silver {
	color: $fe-silver-color;
}

.fe-gold {
	color: $fe-gold-color;
}

.fe-platinum {
	color: $fe-platinum-color;
}

.fe-onyx {
	color: $fe-onyx-color;
}
