.fe-badge:before {
  content: "\e900";
}
.fe-pioneer:before {
  content: "\e910";
}
.fe-illuminator:before {
  content: "\e911";
}
.fe-guardian:before {
  content: "\e912";
}
.fe-founder:before {
  content: "\e951";
}
.fe-verified:before {
  content: "\e950";
}
.fe-ingress:before {
  content: "\e9c0";
}
.fe-resistance:before {
  content: "\e9c1";
}
.fe-enlightened:before {
  content: "\e9c2";
}
.fe-rocks:before {
  content: "\e9e0";
}

