// List Icons
// -------------------------

.#{$fe-css-prefix}-ul {
  padding-left: 0;
  margin-left: $fe-li-width;
  list-style-type: none;
  > li { position: relative; }
}
.#{$fe-css-prefix}-li {
  position: absolute;
  left: -$fe-li-width;
  width: $fe-li-width;
  top: (2em / 14);
  text-align: center;
  &.#{$fe-css-prefix}-lg {
    left: -$fe-li-width + (4em / 14);
  }
}
